*.make
Makefile
*_bin
obj
*~
src/*~
src/shader/*~
GPATH
GRTAGS
GSYMS
GTAGS
develop_notes.txt
UnitTest
*.log.*
*.log
doc
*.gch
core
assimp_log.txt
test.txt
*.mesh
.cproject
.project
.settings
*.pgm
wiki/*.svg
.DS_Store
game.xcodeproj
build
.idea
.dir-locals.el
TAGS
script/python/__pycache__/
*.dat
*.pyc
*.o
3rdparty/Csdp-6.1.1/example/example
3rdparty/Csdp-6.1.1/lib/libsdp.a
3rdparty/Csdp-6.1.1/solver/csdp
3rdparty/Csdp-6.1.1/test/g50.out
3rdparty/Csdp-6.1.1/test/theta1.out
3rdparty/Csdp-6.1.1/theta/complement
3rdparty/Csdp-6.1.1/theta/graphtoprob
3rdparty/Csdp-6.1.1/theta/rand_graph
3rdparty/Csdp-6.1.1/theta/theta
script/python/theano-example/mnist
TheFramework.egg-info/
